/* About */
.about {
    padding: 12rem 4rem;
}

.about-box {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.about-textbox {
    flex-basis: 40%;
}

.about-textbox h4 {
    color: var(--color-orange);
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.about-textbox h2 {
    color: var(--color-black);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.about-textbox p {
    color: var(--color-black);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 2rem;
}

.about-textbox p span {
    color: var(--color-black);
    font-weight: 700;
}

.about-item {
    display: flex;
    margin-bottom: .75rem;
}

.about-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-icon i {
    font-size: 2rem;
    margin-right: 1rem;
}

.about-item-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-item-text p {
    color: var(--color-black);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 0rem;
}

.about-button {
    margin-top: 3rem;
}

.about-image {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    width: 100%;
    /* border-radius: 4px; */
}

/* About 2 */
.about2 {
    background-color: var(--color-black);
    padding: 12rem 4rem;
}

.about2-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: flex-start;
}

.about2-textbox {
    flex-basis: 40%;
}

.about2-textbox h4 {
    color: var(--color-white);
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.about2-textbox h2 {
    color: var(--color-white);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.about2-textbox p {
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 2rem;
}

.about2-textbox p span {
    color: var(--color-white);
    font-weight: 700;
}

.about2-item {
    display: flex;
    margin-bottom: .75rem;
}

.about2-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}


.about2-icon i {
    font-size: 2rem;
    margin-right: 1rem;
}

.about2-item-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about2-item-text p {
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 0rem;
}

.about2-button {
    margin-top: 3rem;
}

.about2-image {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about2-image img {
    width: 100%;
    /* border-radius: 4px; */
}

/* About 3 */
.about3 {
    background-color: var(--color-black);
    padding: 12rem 4rem;
}

.about3-box {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.about3-textbox {
    flex-basis: 40%;
}

.about3-textbox h4 {
    color: var(--color-white);
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.about3-textbox h2 {
    color: var(--color-white);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.about3-textbox p {
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 2rem;
}

.about3-textbox p span {
    color: var(--color-white);
    font-weight: 700;
}

.about3-item {
    display: flex;
    margin-bottom: .75rem;
}

.about3-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}


.about3-icon i {
    font-size: 2rem;
    margin-right: 1rem;
}

.about3-item-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about3-item-text p {
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 0rem;
}

.about3-button {
    margin-top: 3rem;
}

.about3-image {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about3-image img {
    width: 100%;
    /* border-radius: 4px; */
}

.no-bullets {
    font-size: 1.5em;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

.no-bullets li {
      color: var(--color-white);
  }

a {
    color: black; /* Change link color to black */
    text-decoration: none; /* Remove underline */
    font-size: 1.5rem; /* Set font size to 1.5rem */
}

/* Media Queries */
/* Tablet devices (ipad air, 820px and down) */
@media only screen and (max-width: 820px) {

}

/* Tablet devices (ipad mini, 768px and down) */
@media only screen and (max-width: 768px) {
    .about-box {
        /* justify-content: space-between; */

        /* flex-direction: column; */
    }

    .about2-box {
        /* justify-content: space-between; */
        /* flex-direction: column; */
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .about {
        padding: 8rem 4rem;
    }

    .about-box {
        flex-direction: column;
    }

    .about-textbox {
        margin-bottom: 4rem;
    }

    .about2-box {
        flex-direction: column-reverse;
    }
}