/* Bar */
.bar {
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--bar-height);
    /* box-shadow: 0 0 1rem rgba(97, 97, 97, 0.1); */
    transition: background 0.15s;
    /* background-color: var(--color-white); */
}

.bar--bg {
    background-color: var(--color-white);
}

.bar__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar__logo {
    height: 4rem;
    width: auto;
    /* height: 100%; */
    margin-left: 1rem;
}

.bar__nav-toggle {
    cursor: pointer;
}

.bar__nav-toggle i {
    background-color: var(--color-black);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3rem;
    font-weight: 900;
    margin-right: 1rem;
}

/* Nav */
#inpNavToggle {
    display: none;
}

#inpNavToggle:checked ~ .nav {
    display: flex;
}

.nav{
    display: none;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    position: fixed;
    top: var(--bar-height);
    left: 0;
    width: 100%;
    height: auto;
    /* height: calc(100vh - var(--bar-height)); */
    padding: 24px;
    background: var(--color-black);
    box-sizing: border-box;
}

.nav__link {
    color: var(--color-black);
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.6;
    text-decoration: none;
    padding: 1rem 0;
    transition: .3s ease-in-out all;
    text-transform: uppercase;
}

.nav__link:hover {
    color: var(--color-orange);
}

.nav__link a:active {
    color: var(--color-orange);
}

.nav__link:nth-child(3) {
    margin-right: 2rem;
}

/* .nav .button-black {
    padding: .75rem 1.75rem;
    margin-right: 1rem;
    font-size: 1.3rem;
} */

@media screen and (min-width: 992px) {
    .bar__nav-toggle {
        display: none;
    }

    .nav {
        display: initial;
        position: static;
        width: unset;
        height: unset;
        padding: unset;
        background: transparent;
    }

    .nav__link {
        border-bottom: none;
    }

    .nav__link:not(:last-of-type) {
        margin-right: 2rem;
    }
}

/* Header */
.header {
    background: url(/img/torin-hero.gif);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

/* Hero */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero img {
    width: 100%;
    height: auto;
}

/* Media Queries */
/* Tablet devices (ipad air, 600px and down) */
@media only screen and (max-width: 820px) {
    .header {
        background: url(/img/torin-hero-mobile.gif);
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
    }

    .nav__link {
        color: var(--color-white);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header {
        background: url(/img/torin-hero-mobile.gif);
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
    }
}